In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import datetime as dt

In [2]:
df_2011to18=pd.read_excel('../data/Pipeline created from 2011 to 2018.xlsx', sheet_name='Pipeline created from 2011 to 2')
# df_2019_q1=pd.read_excel('../data/Pipeline created from 2019 Jan to 2019 April.xlsx', sheet_name='report1559338063485')
# df_2019_q2=pd.read_excel("../data/Q1-Q2'19 - closed won business_based on closedwon date.xlsx",sheet_name='report1569482424003' )
df_2019_q3=pd.read_excel("../data/Q3'19 - closed won business 10.8.2019.xlsx", sheet_name='report1569227711732')

In [27]:
df_2019_q12=pd.read_excel("../data/Q1-Q2'19 - closed won business_based on closedwon date.xlsx",sheet_name='report1569482424003' )
df_2019_q12

,Opportunity Area,Opportunity Geography,Opportunity 18 Digit ID,Type,First Year Bookings AMT (USD),Total Price (converted),Product Family,Close Date,Fiscal Period,Forecast Category,Stage,Created Date,TRUE Created Date,Close Date at Time of Lost,Closed Won Date
0,OEM,SA-WW,0061B00001fQGbiQAG,Volume,-2500000.00,-2500000.00,SHAVLIK OEM ROYALTIES,2019-06-27,Q2-2019,Closed,Closed Won,2019-06-27,2019-06-27 07:54:00,NaT,2019-06-27
1,WL-East,WL-WW,0061B00001cKzteQAC,New,-284707.50,-284707.50,Mobile Middleware,2019-01-25,Q1-2019,Closed,Closed Pending,2019-01-25,2019-01-25 07:00:00,NaT,2019-01-25
2,EMEA Central,EMEA,0061B00001cKHphQAG,New,-272184.55,-272184.55,Management Suite,2019-01-11,Q1-2019,Closed,Closed Pending,2019-01-11,2019-01-11 02:25:00,NaT,2019-01-11
3,EMEA Central,EMEA,0061B00001cpwleQAA,Volume,-216787.58,-216787.58,Professional Services,2019-03-13,Q1-2019,Closed,Closed Won,2019-03-13,2019-03-13 08:18:00,NaT,2019-03-13
4,OEM,SA-WW,0061B00001cM3wPQAS,Volume,-192863.86,-192863.86,SHAVLIK OEM ROYALTIES,2019-02-20,Q1-2019,Closed,Closed Pending,2019-02-15,2019-02-15 07:51:00,NaT,2019-02-20
5,SysInt-EMEA,SA-EMEA,0061B00001fOc6zQAC,New,-153973.80,-153973.80,DesktopNow,2019-05-23,Q2-2019,Closed,Closed Pending,2019-05-22,2019-05-22 08:40:00,NaT,2019-05-23
6,EMEA South,EMEA,0061B00001fOGWFQA4,Volume,-114480.68,-114480.68,Professional Services,2019-05-20,Q2-2019,Closed,Closed Pending,2019-05-15,2019-05-15 06:43:00,NaT,2019-05-20
7,NA SLED,Americas,0061B00001cozpJQAQ,New,-111904.20,-111904.20,DesktopNow,2019-02-25,Q1-2019,Closed,Closed Pending,2019-02-19,2019-02-19 14:55:00,NaT,2019-02-25
8,Japan,APAC,0061B00001cpKf4QAE,New,-108091.28,-108091.28,ES,2019-02-27,Q1-2019,Closed,Closed Pending,2019-02-27,2019-02-27 09:28:00,NaT,2019-02-27
9,EMEA Central,EMEA,0061B00001cKHphQAG,New,-55509.59,-103372.45,Management Suite,2019-01-11,Q1-2019,Closed,Closed Pending,2019-01-11,2019-01-11 02:25:00,NaT,2019-01-11
10,NA Central,Americas,0061B00001dO9m2QAC,New,-96480.00,-96480.00,Professional Services,2019-04-04,Q2-2019,Closed,Closed Won,2019-04-02,2019-04-02 10:15:00,NaT,2019-04-04
11,EMEA Central,EMEA,0061B00001cKHphQAG,New,-48600.67,-90506.35,Patch Manager,2019-01-11,Q1-2019,Closed,Closed Pending,2019-01-11,2019-01-11 02:25:00,NaT,2019-01-11
12,EMEA Central,EMEA,0061B00001dPAAJQA4,New,-48961.59,-89803.92,ELA Pick2,2019-04-18,Q2-2019,Closed,Closed Won,2019-04-18,2019-04-18 08:30:00,NaT,2019-04-18
13,EMEA Central,EMEA,0061B00001dPAAJQA4,New,0.00,-89803.92,ELA Pick2,2019-04-18,Q2-2019,Closed,Closed Won,2019-04-18,2019-04-18 08:30:00,NaT,2019-04-18
14,EMEA Central,EMEA,0061B00001dPAAJQA4,New,0.00,-89803.92,ELA Pick2,2019-04-18,Q2-2019,Closed,Closed Won,2019-04-18,2019-04-18 08:30:00,NaT,2019-04-18
15,SysInt-EMEA,SA-EMEA,0061B00001fPQXvQAO,New,-85197.83,-85197.83,Professional Services,2019-06-18,Q2-2019,Closed,Closed Pending,2019-06-11,2019-06-11 02:41:00,NaT,2019-06-18
16,EMEA West,EMEA,0061B00001dNxogQAC,New,-72635.86,-72635.86,Management Suite,2019-03-28,Q1-2019,Closed,Closed Won,2019-03-28,2019-03-28 03:49:00,NaT,2019-03-28
17,EMEA South,EMEA,0061B00001fQ8kKQAS,New,-62040.24,-62040.24,Professional Services,2019-06-26,Q2-2019,Closed,Closed Pending,2019-06-25,2019-06-25 07:08:00,NaT,2019-06-26
18,OEM,SA-WW,0061B00001cM3wPQAS,Volume,-60292.15,-60292.15,SHAVLIK OEM ROYALTIES,2019-02-20,Q1-2019,Closed,Closed Pending,2019-02-15,2019-02-15 07:51:00,NaT,2019-02-20
19,WL-West,WL-WW,0061B00001dO3KWQA0,Volume,-59040.00,-59040.00,Professional Services,2019-03-29,Q1-2019,Closed,Closed Won,2019-03-29,2019-03-29 14:46:00,NaT,2019-03-29
20,EMEA West,EMEA,0061B00001a9G75QAE,New,-58895.22,-58895.22,Professional Services,2019-01-09,Q1-2019,Closed,Closed Pending,2019-01-08,2019-01-08 08:02:00,NaT,2019-01-09
21,EMEA North,EMEA,0061B00001fQCu2QAG,Volume,-57267.92,-57267.92,Professional Services,2019-06-26,Q2-2019,Closed,Closed Won,2019-06-26,2019-06-26 08:10:00,NaT,2019-06-26
22,WL-East,WL-WW,0061B00001cKzteQAC,New,-56941.50,-56941.50,Mobile Middleware,2019-01-25,Q1-2019,Closed,Closed Pending,2019-01-25,2019-01-25 07:00:00,NaT,2019-01-25
23,EMEA Central,EMEA,0061B00001cKHphQAG,New,0.00,-51686.23,Management Suite,2019-01-11,Q1-2019,Closed,Closed Pending,2019-01-11,2019-01-11 02:25:00,NaT,2019-01-11
24,EMEA West,EMEA,0061B00001dPJD1QAO,Volume,-47595.47,-47595.47,Professional Services,2019-04-24,Q2-2019,Closed,Closed Pending,2019-04-24,2019-04-24 07:00:00,NaT,2019-04-24
25,WL-East,WL-WW,0061B00001cLGPOQA4,Volume,-47040.00,-47040.00,Avalanche,2019-01-29,Q1-2019,Closed,Closed Pending,2019-01-29,2019-01-29 10:27:00,NaT,2019-01-29
26,NA Southeast,Americas,0061B00001fP2gYQAS,New,-46200.00,-46200.00,ELA Unified IT,2019-06-04,Q2-2019,Closed,Closed Pending,2019-06-03,2019-06-03 12:27:00,NaT,2019-06-04
27,NA Southeast,Americas,0061B00001fP2gYQAS,New,-4188.46,-46200.00,ELA Unified IT,2019-06-04,Q2-2019,Closed,Closed Pending,2019-06-03,2019-06-03 12:27:00,NaT,2019-06-04
28,NA Southeast,Americas,0061B00001fP2gYQAS,New,0.00,-46200.00,ELA Unified IT,2019-06-04,Q2-2019,Closed,Closed Pending,2019-06-03,2019-06-03 12:27:00,NaT,2019-06-04
29,EMEA Central,EMEA,0061B00001cKHphQAG,New,0.00,-45253.18,Patch Manager,2019-01-11,Q1-2019,Closed,Closed Pending,2019-01-11,2019-01-11 02:25:00,NaT,2019-01-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28020,ROW - ANZ,APAC,0061300001JwMhTAAV,New,0.00,276540.52,ELA Unified IT,2019-06-25,Q2-2019,Closed,Closed Won,2016-11-02,2016-11-02 17:09:00,NaT,2019-06-25
28021,WL-East,WL-WW,0061B00001cKzurQAC,New,284707.50,284707.50,Mobile Middleware,2019-01-25,Q1-2019,Closed,Closed Won,2019-01-25,2019-01-25 07:10:00,NaT,2019-01-25
28022,WL-East,WL-WW,0061B00001cKEWqQAO,New,284707.50,284707.50,Mobile Middleware,2019-01-24,Q1-2019,Closed,Closed Won,2019-01-10,2019-01-10 06:08:00,NaT,2019-01-24
28023,NA Central,Americas,0061B00001cKb16QAC,Volume,296000.00,296000.00,Professional Services,2019-06-20,Q2-2019,Closed,Closed Won,2019-01-16,2019-01-16 09:12:00,NaT,2019-06-20
28024,NA Central,Americas,0061B00001cKSUvQAO,Volume,296200.00,296200.00,DesktopNow,2019-06-28,Q2-2019,Closed,Closed Won,2019-01-14,2019-01-14 08:40:00,NaT,2019-06-28
28025,SysInt-EMEA,SA-EMEA,0061B00001a8BatQAE,Volume,311046.89,311046.89,RES ITSM,2019-03-28,Q1-2019,Closed,Closed Won,2018-12-10,2018-12-10 07:02:00,NaT,2019-03-28
28026,OEM,SA-WW,0061B00001a9LjRQAU,Volume,313721.95,313721.95,SHAVLIK OEM ROYALTIES,2019-04-29,Q2-2019,Closed,Closed Won,2019-01-09,2019-01-09 11:22:00,NaT,2019-04-29
28027,EMEA West,EMEA,0061B00001cLh9cQAC,Volume,315137.43,315137.43,Total User Management,2019-06-26,Q2-2019,Closed,Closed Won,2019-02-07,2019-02-07 07:16:00,NaT,2019-06-26
28028,EMEA Central,EMEA,0061B00001cKRXsQAO,New,342676.37,342676.37,Management Suite,2019-03-28,Q1-2019,Closed,Closed Won,2019-01-14,2019-01-14 06:45:00,NaT,2019-03-28
28029,OEM,SA-WW,0061B00001cqDXRQA2,Volume,267265.75,364000.00,HT OEM,2019-03-26,Q1-2019,Closed,Closed Won,2019-03-20,2019-03-20 15:45:00,NaT,2019-03-26
28030,SysInt-Americas,SA-Americas,0061B00001VVxmBQAT,Volume,420000.00,420000.00,DesktopNow,2019-06-25,Q2-2019,Closed,Closed Won,2018-05-30,2018-05-30 05:34:00,NaT,2019-06-25
28031,EMEA Central,EMEA,0061B00001cKRXsQAO,New,427778.12,427778.12,Application Manager,2019-03-28,Q1-2019,Closed,Closed Won,2019-01-14,2019-01-14 06:45:00,NaT,2019-03-28
28032,EMEA Central,EMEA,0061B00001cpCZNQA2,New,469601.51,469601.51,Performance Manager,2019-06-19,Q2-2019,Closed,Closed Won,2019-02-25,2019-02-25 03:17:00,NaT,2019-06-19
28033,EMEA South,EMEA,0061B00001Qa77zQAB,Volume,487970.18,487970.18,DesktopNow,2019-04-23,Q2-2019,Closed,Closed Won,2017-11-20,2017-11-20 06:42:00,NaT,2019-04-23
28034,OEM,SA-WW,0061B00001a9LvrQAE,Volume,625000.00,625000.00,SHAVLIK OEM ROYALTIES,2019-06-27,Q2-2019,Closed,Closed Won,2019-01-09,2019-01-09 11:47:00,NaT,2019-06-27
28035,OEM,SA-WW,0061B00001a9LvrQAE,Volume,625000.00,625000.00,SHAVLIK OEM ROYALTIES,2019-06-27,Q2-2019,Closed,Closed Won,2019-01-09,2019-01-09 11:47:00,NaT,2019-06-27
28036,OEM,SA-WW,0061B00001a9LvrQAE,Volume,625000.00,625000.00,SHAVLIK OEM ROYALTIES,2019-06-27,Q2-2019,Closed,Closed Won,2019-01-09,2019-01-09 11:47:00,NaT,2019-06-27
28037,OEM,SA-WW,0061B00001a9LvrQAE,Volume,625000.00,625000.00,SHAVLIK OEM ROYALTIES,2019-06-27,Q2-2019,Closed,Closed Won,2019-01-09,2019-01-09 11:47:00,NaT,2019-06-27
28038,WL-West,WL-WW,0061B00001cKVJLQA4,Volume,660000.00,660000.00,Mobile Middleware,2019-06-27,Q2-2019,Closed,Closed Won,2019-01-14,2019-01-14 17:04:00,NaT,2019-06-27
28039,EMEA South,EMEA,0061B00001dOFl3QAG,New,0.00,805712.69,ELA Unified IT,2019-06-27,Q2-2019,Closed,Closed Won,2019-04-04,2019-04-04 05:25:00,NaT,2019-06-27
28040,SysInt-EMEA,SA-EMEA,0061B00001fQLEiQAO,Volume,488607.47,1055761.77,DesktopNow,2019-06-28,Q2-2019,Closed,Closed Pending,2019-06-28,2019-06-28 09:51:00,NaT,2019-06-28
28041,OEM,SA-WW,0061B00001a9HRfQAM,Volume,1100000.00,1100000.00,SHAVLIK OEM ROYALTIES,2019-06-27,Q2-2019,Closed,Closed Pending,2019-01-08,2019-01-08 12:12:00,NaT,2019-06-27
28042,OEM,SA-WW,0061B00001a9HRfQAM,Volume,1100000.00,1100000.00,SHAVLIK OEM ROYALTIES,2019-06-27,Q2-2019,Closed,Closed Pending,2019-01-08,2019-01-08 12:12:00,NaT,2019-06-27
28043,NA SLED,Americas,0061B00001Td7dLQAR,New,1190000.00,1190000.00,Application Manager,2019-02-08,Q1-2019,Closed,Closed Won,2018-03-16,2018-03-16 11:59:00,NaT,2019-02-08
28044,OEM,SA-WW,0061B00001a9HVmQAM,Volume,1528065.00,1528065.00,SHAVLIK OEM ROYALTIES,2019-06-27,Q2-2019,Closed,Closed Won,2019-01-08,2019-01-08 12:26:00,NaT,2019-06-27
28045,OEM,SA-WW,0061B00001a9HVmQAM,Volume,1528065.00,1528065.00,SHAVLIK OEM ROYALTIES,2019-06-27,Q2-2019,Closed,Closed Won,2019-01-08,2019-01-08 12:26:00,NaT,2019-06-27
28046,OEM,SA-WW,0061B00001a9HVmQAM,Volume,1528065.00,1528065.00,SHAVLIK OEM ROYALTIES,2019-06-27,Q2-2019,Closed,Closed Won,2019-01-08,2019-01-08 12:26:00,NaT,2019-06-27
28047,OEM,SA-WW,0061B00001a9HVmQAM,Volume,1528065.00,1528065.00,SHAVLIK OEM ROYALTIES,2019-06-27,Q2-2019,Closed,Closed Won,2019-01-08,2019-01-08 12:26:00,NaT,2019-06-27
28048,SysInt-EMEA,SA-EMEA,0061B00001cKXDtQAO,Volume,1562268.56,1562268.56,DesktopNow,2019-06-11,Q2-2019,Closed,Closed Pending,2019-01-15,2019-01-15 09:32:00,NaT,2019-06-11
28049,OEM,SA-WW,0061B00001fQGapQAG,Volume,2500000.00,2500000.00,SHAVLIK OEM ROYALTIES,2019-05-31,Q2-2019,Closed,Closed Won,2019-06-27,2019-06-27 07:50:00,NaT,2019-06-27

In [4]:
df_2011to18.head()

,Opportunity Area,Opportunity Geography,Opportunity 18 Digit ID,Type,First Year Bookings AMT (USD),Total Price (converted) Currency,Total Price (converted),Product Family,Close Date,Fiscal Period,Forecast Category,Stage,Created Date,TRUE Created Date,Close Date at Time of Lost,Closed Won Date
0,NA Northeast,Americas,0061300001MAqFCAA1,Volume,33250.00,USD,33250.00,Professional Services,2017-04-27 00:00:00,Q2-2017,Closed,Closed Pending,2017-03-20,2017-03-20 13:44:00,NaN,2017-04-27
1,WL-EMEA,WL-WW,0061B00001a7j4fQAA,Volume,56.25,USD,56.25,CETerm,2018-11-29 00:00:00,Q4-2018,Closed,Closed Won,2018-11-29,2018-11-29 03:34:00,NaN,2018-11-29
2,China,APAC,0061300001OM12DAAT,New,1996.41,USD,1996.41,Management Suite,2017-09-22 00:00:00,Q3-2017,Omitted,Closed Lost,2017-06-29,2017-06-29 19:24:00,2017-09-22 00:00:00,NaT
3,NA West Enterprise,Americas,0061B00001XtFImQAN,Volume,1484.00,USD,1484.00,EMSS,2018-09-07 00:00:00,Q3-2018,Closed,Closed Pending,2018-08-31,2018-08-31 14:53:00,NaN,2018-09-07
4,NA Northeast,Americas,0061B00001Ou4mIQAR,Volume,0.93,USD,0.93,Managed Planet,2017-09-19 00:00:00,Q3-2017,Closed,Closed Pending,2017-09-19,2017-09-19 13:59:00,NaN,2017-09-19

In [28]:
display(df_2019_q12.head())
display(df_2019_q3.head())

,Opportunity Area,Opportunity Geography,Opportunity 18 Digit ID,Type,First Year Bookings AMT (USD),Total Price (converted),Product Family,Close Date,Fiscal Period,Forecast Category,Stage,Created Date,TRUE Created Date,Close Date at Time of Lost,Closed Won Date
0,OEM,SA-WW,0061B00001fQGbiQAG,Volume,-2500000.00,-2500000.00,SHAVLIK OEM ROYALTIES,2019-06-27,Q2-2019,Closed,Closed Won,2019-06-27,2019-06-27 07:54:00,NaT,2019-06-27
1,WL-East,WL-WW,0061B00001cKzteQAC,New,-284707.50,-284707.50,Mobile Middleware,2019-01-25,Q1-2019,Closed,Closed Pending,2019-01-25,2019-01-25 07:00:00,NaT,2019-01-25
2,EMEA Central,EMEA,0061B00001cKHphQAG,New,-272184.55,-272184.55,Management Suite,2019-01-11,Q1-2019,Closed,Closed Pending,2019-01-11,2019-01-11 02:25:00,NaT,2019-01-11
3,EMEA Central,EMEA,0061B00001cpwleQAA,Volume,-216787.58,-216787.58,Professional Services,2019-03-13,Q1-2019,Closed,Closed Won,2019-03-13,2019-03-13 08:18:00,NaT,2019-03-13
4,OEM,SA-WW,0061B00001cM3wPQAS,Volume,-192863.86,-192863.86,SHAVLIK OEM ROYALTIES,2019-02-20,Q1-2019,Closed,Closed Pending,2019-02-15,2019-02-15 07:51:00,NaT,2019-02-20

,Opportunity Geography,New-Volume First Year Bookings AMT (USD),Forecast Category,Closed Won Date,Close Date
0,EMEA,-309528.73,Closed,2019-09-30,2019-09-30
1,Americas,-258750.00,Closed,2019-07-31,2019-07-31
2,Americas,-172500.00,Closed,2019-07-31,2019-07-31
3,WL-WW,-162815.07,Closed,2019-08-29,2019-08-29
4,Americas,-143750.00,Closed,2019-07-31,2019-07-31

In [66]:
df_2011to18_1=df_2011to18.copy()

In [67]:
df_2011to18_1=df_2011to18_1[['Opportunity Geography','First Year Bookings AMT (USD)','Forecast Category',\
                         'Closed Won Date','Close Date']]
display(df_2011to18_1['Opportunity Geography'].unique())
display(df_2011to18_1.head())

array(['Americas', 'WL-WW', 'APAC', 'EMEA', 'SH-WW',
       'Please select a valid Geo', 'SA-Americas', 'SA-EMEA', 'SA-WW',
       'SA-APAC', 'GM-WW'], dtype=object)

,Opportunity Geography,First Year Bookings AMT (USD),Forecast Category,Closed Won Date,Close Date
0,Americas,33250.00,Closed,2017-04-27,2017-04-27 00:00:00
1,WL-WW,56.25,Closed,2018-11-29,2018-11-29 00:00:00
2,APAC,1996.41,Omitted,NaT,2017-09-22 00:00:00
3,Americas,1484.00,Closed,2018-09-07,2018-09-07 00:00:00
4,Americas,0.93,Closed,2017-09-19,2017-09-19 00:00:00

In [68]:
#### to filter region, closed category and fillna
def feature_engineering(df, region):
    df=df[df['Opportunity Geography'].isin(region)]
    df=df[df['Forecast Category'].isin(['Closed'])]
    df.loc[df['Closed Won Date'].isnull(), 'Closed Won Date']=df.loc[df['Closed Won Date'].isnull(),'Close Date']
    return df

In [69]:
america_2017to18=feature_engineering(df_2011to18_1, ['Americas','SA-Americas'])
display(america_2017to18.sample(10))

,Opportunity Geography,First Year Bookings AMT (USD),Forecast Category,Closed Won Date,Close Date
330541,Americas,9749.30,Closed,2015-12-22 00:00:00,2015-12-22 00:00:00
533592,Americas,1182.75,Closed,2011-08-18 00:00:00,2011-08-18 00:00:00
352178,Americas,60000.00,Closed,2016-11-07 00:00:00,2016-11-07 00:00:00
61861,Americas,420.00,Closed,2018-06-20 00:00:00,2018-06-20 00:00:00
604444,Americas,21150.00,Closed,2011-09-29 00:00:00,2011-09-29 00:00:00
312344,Americas,21825.00,Closed,2016-03-30 00:00:00,2016-03-30 00:00:00
549469,Americas,6504.81,Closed,2012-06-19 00:00:00,2012-06-19 00:00:00
179421,Americas,45.36,Closed,2017-04-27 00:00:00,2017-04-27 00:00:00
359057,Americas,1650.00,Closed,2016-12-27 00:00:00,2016-12-27 00:00:00
557961,Americas,3378.69,Closed,2014-09-29 00:00:00,2014-09-29 00:00:00

In [70]:
display(df_2011to18_1.isnull().sum())
display(america_2017to18.isnull().sum())

Opportunity Geography                 0
First Year Bookings AMT (USD)         0
Forecast Category                     0
Closed Won Date                  275640
Close Date                            0
dtype: int64

Opportunity Geography            0
First Year Bookings AMT (USD)    0
Forecast Category                0
Closed Won Date                  0
Close Date                       0
dtype: int64

In [71]:
display(america_2017to18['Forecast Category'].unique())
display(america_2017to18['Opportunity Geography'].unique())

array(['Closed'], dtype=object)

array(['Americas', 'SA-Americas'], dtype=object)

In [72]:
america_2017to18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62477 entries, 0 to 615325
Data columns (total 5 columns):
Opportunity Geography            62477 non-null object
First Year Bookings AMT (USD)    62477 non-null float64
Forecast Category                62477 non-null object
Closed Won Date                  62477 non-null object
Close Date                       62477 non-null object
dtypes: float64(1), object(4)
memory usage: 2.9+ MB

In [73]:
america_2017to18=america_2017to18[['First Year Bookings AMT (USD)','Closed Won Date']]
america_2017to18['Closed Won Date']=pd.to_datetime(america_2017to18['Closed Won Date'])
america_2017to18.info()
display(america_2017to18.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62477 entries, 0 to 615325
Data columns (total 2 columns):
First Year Bookings AMT (USD)    62477 non-null float64
Closed Won Date                  62477 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.4 MB

   First Year Bookings AMT (USD) Closed Won Date
0                       33250.00      2017-04-27
3                        1484.00      2018-09-07
4                           0.93      2017-09-19
5                       18800.00      2018-12-21
6                         105.60      2017-05-02

In [74]:
#america_2017to18.drop(america_2017to18['Closed Won Date'].dt.month<2017, axis=0)
america_2017to18=america_2017to18[(america_2017to18['Closed Won Date'].dt.year>2016) &\
                                  (america_2017to18['Closed Won Date'].dt.year<2019)]
print(america_2017to18.shape)
america_2017to18.head()

(24397, 2)

   First Year Bookings AMT (USD) Closed Won Date
0                       33250.00      2017-04-27
3                        1484.00      2018-09-07
4                           0.93      2017-09-19
5                       18800.00      2018-12-21
6                         105.60      2017-05-02

In [64]:
america_2017to18_1=america_2017to18[america_2017to18['Closed Won Date'].dt.year<2019] 
america_2017to18_1

        First Year Bookings AMT (USD) Closed Won Date
0                            33250.00      2017-04-27
3                             1484.00      2018-09-07
4                                0.93      2017-09-19
5                            18800.00      2018-12-21
6                              105.60      2017-05-02
14                               4.50      2018-05-22
21                               0.01      2017-09-19
22                            3760.00      2018-12-21
23                               9.30      2017-05-02
31                            2187.00      2018-05-22
38                               4.22      2017-09-19
40                               0.10      2017-05-02
48                            5850.00      2018-05-22
57                              42.20      2017-05-02
65                            1326.00      2018-05-22
66                            3073.00      2018-08-06
74                            1195.00      2017-06-05
83                             735.23      2018-08-06
100                           1421.00      2018-08-06
112                          20612.50      2018-12-31
117                            367.62      2018-08-06
123                            141.60      2017-09-18
140                             32.70      2017-09-18
157                              0.30      2017-09-18
174                             64.50      2017-09-18
221                             27.72      2017-03-30
238                             25.52      2017-03-30
255                            116.16      2017-03-30
272                             10.23      2017-03-30
289                              0.11      2017-03-30
...                               ...             ...
445871                        4180.00      2017-12-27
446479                        2256.00      2018-12-14
446492                       14628.00      2018-12-14
446505                        2520.00      2018-12-14
446518                        1662.00      2018-12-14
477274                       19836.00      2017-06-20
477280                        4387.91      2017-06-20
478506                        8425.00      2018-06-01
478512                        1575.00      2018-06-01
500353                        9000.00      2017-08-31
500356                         506.88      2017-08-31
500359                        2880.00      2017-08-31
500362                          40.00      2017-08-31
500365                          40.00      2017-08-31
500368                       11520.00      2017-08-31
505656                       23950.00      2018-12-14
505659                       28000.00      2018-12-14
505662                           0.00      2018-12-14
512901                        4173.40      2017-12-27
512903                         918.40      2017-12-27
518588                       18600.00      2017-07-18
518590                        3358.93      2017-07-18
524051                       13500.09      2018-02-22
525681                        6081.30      2018-02-22
526405                          25.00      2017-11-27
526406                          23.90      2017-11-27
526407                        9776.98      2017-11-27
585903                           9.03      2018-12-20
611597                       16800.00      2017-05-08
611598                       75600.00      2017-05-08

[24397 rows x 2 columns]

In [65]:
america_2017to181=america_2017to18_1.copy()
america_2017to181['date_month']=''
america_2017to181['date_month']=pd.PeriodIndex(america_2017to181['Closed Won Date'],freq='M')

america_2017to181=pd.DataFrame(america_2017to181.groupby('date_month')['First Year Bookings AMT (USD)'].sum())

america_2017to181.reset_index(inplace=True)
america_2017to181

   date_month  First Year Bookings AMT (USD)
0     2017-01                     2527827.75
1     2017-02                     2866864.31
2     2017-03                     6835771.27
3     2017-04                     2701422.16
4     2017-05                     4076961.37
5     2017-06                     9349451.07
6     2017-07                     5869121.94
7     2017-08                    16082636.71
8     2017-09                    13289444.74
9     2017-10                     4372148.31
10    2017-11                     5720998.11
11    2017-12                    12462174.21
12    2018-01                     3361153.81
13    2018-02                     3569414.39
14    2018-03                     8331085.37
15    2018-04                     2785901.20
16    2018-05                     7911919.62
17    2018-06                    12767244.43
18    2018-07                     3883553.63
19    2018-08                     5834807.08
20    2018-09                    12428619.10
21    2018-10                     3263394.35
22    2018-11                     5211160.28
23    2018-12                    20286964.88

In [75]:
df_2019_q12['Opportunity Geography'].unique()

array(['SA-WW', 'WL-WW', 'EMEA', 'SA-EMEA', 'Americas', 'APAC',
       'SA-Americas'], dtype=object)

In [76]:
df_2019_q12=df_2019_q12[['Opportunity Geography','First Year Bookings AMT (USD)','Forecast Category',\
                         'Closed Won Date','Close Date']]
df_2019_q12.head()

,Opportunity Geography,First Year Bookings AMT (USD),Forecast Category,Closed Won Date,Close Date
0,SA-WW,-2500000.00,Closed,2019-06-27,2019-06-27
1,WL-WW,-284707.50,Closed,2019-01-25,2019-01-25
2,EMEA,-272184.55,Closed,2019-01-11,2019-01-11
3,EMEA,-216787.58,Closed,2019-03-13,2019-03-13
4,SA-WW,-192863.86,Closed,2019-02-20,2019-02-20

In [77]:
america_q12_19=feature_engineering(df_2019_q12, ['Americas','SA-Americas'])
display(america_q12_19.head())

# display(america_q12_19.sample())
display(df_2019_q12.isnull().sum())
display(america_q12_19.isnull().sum())
america_q12_19.info()

,Opportunity Geography,First Year Bookings AMT (USD),Forecast Category,Closed Won Date,Close Date
7,Americas,-111904.20,Closed,2019-02-25,2019-02-25
10,Americas,-96480.00,Closed,2019-04-04,2019-04-04
26,Americas,-46200.00,Closed,2019-06-04,2019-06-04
27,Americas,-4188.46,Closed,2019-06-04,2019-06-04
28,Americas,0.00,Closed,2019-06-04,2019-06-04

Opportunity Geography            0
First Year Bookings AMT (USD)    0
Forecast Category                0
Closed Won Date                  0
Close Date                       0
dtype: int64

Opportunity Geography            0
First Year Bookings AMT (USD)    0
Forecast Category                0
Closed Won Date                  0
Close Date                       0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5184 entries, 7 to 28043
Data columns (total 5 columns):
Opportunity Geography            5184 non-null object
First Year Bookings AMT (USD)    5184 non-null float64
Forecast Category                5184 non-null object
Closed Won Date                  5184 non-null datetime64[ns]
Close Date                       5184 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 243.0+ KB

In [78]:

america_q12_19=america_q12_19[['First Year Bookings AMT (USD)','Closed Won Date']]
# america_q12_19['Closed Won Date']=america_2017to18['Closed Won Date']
america_q12_19.info()
display(america_q12_19.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5184 entries, 7 to 28043
Data columns (total 2 columns):
First Year Bookings AMT (USD)    5184 non-null float64
Closed Won Date                  5184 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1)
memory usage: 121.5 KB

    First Year Bookings AMT (USD) Closed Won Date
7                      -111904.20      2019-02-25
10                      -96480.00      2019-04-04
26                      -46200.00      2019-06-04
27                       -4188.46      2019-06-04
28                           0.00      2019-06-04

In [49]:
# america_q12_191=
america_q12_191=america_q12_19.copy()
america_q12_191['date_month']=''
america_q12_191['date_month']=pd.PeriodIndex(america_q12_191['Closed Won Date'],freq='M')

america_q12_191=pd.DataFrame(america_q12_191.groupby('date_month')['First Year Bookings AMT (USD)'].sum())

america_q12_191.reset_index(inplace=True)
america_q12_191

  date_month  First Year Bookings AMT (USD)
0    2019-01                     2873987.28
1    2019-02                     4762924.59
2    2019-03                     9147445.18
3    2019-04                     2135082.18
4    2019-05                     4785810.63
5    2019-06                    11462996.95

In [79]:
df_2019_q3=df_2019_q3[['Opportunity Geography','New-Volume First Year Bookings AMT (USD)','Forecast Category',\
                         'Closed Won Date','Close Date']]
df_2019_q3.head()

america_q3_19=feature_engineering(df_2019_q3, ['Americas','SA-Americas'])
display(america_q3_19.head())

# display(america_q12_19.sample())
display(df_2019_q3.isnull().sum())
display(america_q3_19.isnull().sum())
america_q3_19.info()

,Opportunity Geography,New-Volume First Year Bookings AMT (USD),Forecast Category,Closed Won Date,Close Date
1,Americas,-258750.0,Closed,2019-07-31,2019-07-31
2,Americas,-172500.0,Closed,2019-07-31,2019-07-31
4,Americas,-143750.0,Closed,2019-07-31,2019-07-31
5,Americas,-94816.2,Closed,2019-09-11,2019-09-11
8,Americas,-76500.0,Closed,2019-07-02,2019-07-02

Opportunity Geography                       0
New-Volume First Year Bookings AMT (USD)    1
Forecast Category                           0
Closed Won Date                             0
Close Date                                  0
dtype: int64

Opportunity Geography                       0
New-Volume First Year Bookings AMT (USD)    0
Forecast Category                           0
Closed Won Date                             0
Close Date                                  0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6142 entries, 1 to 23296
Data columns (total 5 columns):
Opportunity Geography                       6142 non-null object
New-Volume First Year Bookings AMT (USD)    6142 non-null float64
Forecast Category                           6142 non-null object
Closed Won Date                             6142 non-null datetime64[ns]
Close Date                                  6142 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 287.9+ KB

In [80]:
america_q3_19.rename(columns={'New-Volume First Year Bookings AMT (USD)':'First Year Bookings AMT (USD)'} ,inplace=True)
america_q3_19.head()

,Opportunity Geography,First Year Bookings AMT (USD),Forecast Category,Closed Won Date,Close Date
1,Americas,-258750.0,Closed,2019-07-31,2019-07-31
2,Americas,-172500.0,Closed,2019-07-31,2019-07-31
4,Americas,-143750.0,Closed,2019-07-31,2019-07-31
5,Americas,-94816.2,Closed,2019-09-11,2019-09-11
8,Americas,-76500.0,Closed,2019-07-02,2019-07-02

In [81]:

america_q3_19=america_q3_19[['First Year Bookings AMT (USD)','Closed Won Date']]
america_q3_19.info()
display(america_q3_19.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6142 entries, 1 to 23296
Data columns (total 2 columns):
First Year Bookings AMT (USD)    6142 non-null float64
Closed Won Date                  6142 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1)
memory usage: 144.0 KB

   First Year Bookings AMT (USD) Closed Won Date
1                      -258750.0      2019-07-31
2                      -172500.0      2019-07-31
4                      -143750.0      2019-07-31
5                       -94816.2      2019-09-11
8                       -76500.0      2019-07-02

In [53]:
america_q3_191=america_q3_19.copy()
america_q3_191['date_month']=''
america_q3_191['date_month']=pd.PeriodIndex(america_q3_191['Closed Won Date'],freq='M')

america_q3_191=pd.DataFrame(america_q3_191.groupby('date_month')['First Year Bookings AMT (USD)'].sum())

america_q3_191.reset_index(inplace=True)
america_q3_191

  date_month  First Year Bookings AMT (USD)
0    2019-07                     4221133.92
1    2019-08                     4249756.20
2    2019-09                    10018826.97

In [82]:
print(america_2017to18.shape)
print(america_q12_19.shape)
print(america_q3_19.shape)

(24397, 2)
(5184, 2)
(6142, 2)

In [83]:
america_df=pd.concat([america_2017to18, america_q12_19, america_q3_19], axis=0)

In [84]:
display(america_df.tail())
print(america_df.shape)

       First Year Bookings AMT (USD) Closed Won Date
23290                      309322.03      2019-07-16
23291                           0.00      2019-09-27
23292                      449414.80      2019-09-30
23294                      161216.67      2019-07-15
23296                           0.00      2019-09-27

(35723, 2)

In [85]:
america_df1=america_df.copy()
america_df1['date_month']=''
america_df1['date_month']=pd.PeriodIndex(america_df1['Closed Won Date'],freq='M')

america_df1=pd.DataFrame(america_df1.groupby('date_month')['First Year Bookings AMT (USD)'].sum())

america_df1.reset_index(inplace=True)
america_df1

   date_month  First Year Bookings AMT (USD)
0     2017-01                     2527827.75
1     2017-02                     2866864.31
2     2017-03                     6835771.27
3     2017-04                     2701422.16
4     2017-05                     4076961.37
5     2017-06                     9349451.07
6     2017-07                     5869121.94
7     2017-08                    16082636.71
8     2017-09                    13289444.74
9     2017-10                     4372148.31
10    2017-11                     5720998.11
11    2017-12                    12462174.21
12    2018-01                     3361153.81
13    2018-02                     3569414.39
14    2018-03                     8331085.37
15    2018-04                     2785901.20
16    2018-05                     7911919.62
17    2018-06                    12767244.43
18    2018-07                     3883553.63
19    2018-08                     5834807.08
20    2018-09                    12428619.10
21    2018-10                     3263394.35
22    2018-11                     5211160.28
23    2018-12                    20286964.88
24    2019-01                     2873987.28
25    2019-02                     4762924.59
26    2019-03                     9147445.18
27    2019-04                     2135082.18
28    2019-05                     4785810.63
29    2019-06                    11462996.95
30    2019-07                     4221133.92
31    2019-08                     4249756.20
32    2019-09                    10018826.97

In [86]:
america_df.to_excel('../data/America 2017 to q3 2019.xlsx', index=None)

#### Apac complete dataframe

In [88]:
apac_2017to18=feature_engineering(df_2011to18_1, ['APAC', 'SA-APAC'])
display(apac_2017to18.head())

# display(df_2019_q3.isnull().sum())
display(apac_2017to18.isnull().sum())
apac_2017to18.info()
print(apac_2017to18.shape)
apac_2017to18=apac_2017to18[(apac_2017to18['Closed Won Date'].dt.year>2016 )&\
                            (apac_2017to18['Closed Won Date'].dt.year<2019) ]
apac_2017to18=apac_2017to18[['First Year Bookings AMT (USD)','Closed Won Date']]
print(apac_2017to18.shape)

apac_2017to18.head()

,Opportunity Geography,First Year Bookings AMT (USD),Forecast Category,Closed Won Date,Close Date
75,APAC,410.54,Closed,2017-06-29 00:00:00,2017-06-29 00:00:00
92,APAC,2114.39,Closed,2017-06-29 00:00:00,2017-06-29 00:00:00
109,APAC,3037.58,Closed,2017-06-29 00:00:00,2017-06-29 00:00:00
134,APAC,0.00,Closed,2018-06-15 00:00:00,2018-06-15 00:00:00
151,APAC,0.00,Closed,2018-06-15 00:00:00,2018-06-15 00:00:00

Opportunity Geography            0
First Year Bookings AMT (USD)    0
Forecast Category                0
Closed Won Date                  0
Close Date                       0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15220 entries, 75 to 609110
Data columns (total 5 columns):
Opportunity Geography            15220 non-null object
First Year Bookings AMT (USD)    15220 non-null float64
Forecast Category                15220 non-null object
Closed Won Date                  15220 non-null object
Close Date                       15220 non-null object
dtypes: float64(1), object(4)
memory usage: 713.4+ KB
(15220, 5)
(5241, 2)

     First Year Bookings AMT (USD)      Closed Won Date
75                          410.54  2017-06-29 00:00:00
92                         2114.39  2017-06-29 00:00:00
109                        3037.58  2017-06-29 00:00:00
134                           0.00  2018-06-15 00:00:00
151                           0.00  2018-06-15 00:00:00

In [89]:
apac_q12_19=feature_engineering(df_2019_q12,['APAC', 'SA-APAC'] )
display(apac_q12_19)
display(apac_q12_19.isnull().sum())
apac_q12_19.info()
print(apac_q12_19.shape)

,Opportunity Geography,First Year Bookings AMT (USD),Forecast Category,Closed Won Date,Close Date
8,APAC,-108091.28,Closed,2019-02-27,2019-02-27
38,APAC,-38524.09,Closed,2019-06-27,2019-06-27
48,APAC,-454.66,Closed,2019-04-04,2019-04-04
49,APAC,0.00,Closed,2019-04-04,2019-04-04
50,APAC,-33099.05,Closed,2019-04-04,2019-04-04
52,APAC,-11028.67,Closed,2019-06-27,2019-06-27
66,APAC,-23766.16,Closed,2019-02-27,2019-02-27
71,APAC,-20241.64,Closed,2019-06-27,2019-06-27
146,APAC,-9317.31,Closed,2019-03-29,2019-03-29
150,APAC,-8870.00,Closed,2019-04-02,2019-04-02
162,APAC,-7823.49,Closed,2019-06-27,2019-06-27
168,APAC,-7490.00,Closed,2019-04-02,2019-04-02
189,APAC,-6149.42,Closed,2019-03-29,2019-03-29
211,APAC,-5220.00,Closed,2019-05-21,2019-05-21
217,APAC,-4831.40,Closed,2019-06-05,2019-06-05
251,APAC,-4003.92,Closed,2019-06-19,2019-06-19
259,APAC,-3769.52,Closed,2019-03-29,2019-03-29
317,APAC,-2533.16,Closed,2019-06-19,2019-06-19
322,APAC,-2487.88,Closed,2019-03-29,2019-03-29
333,APAC,-2295.00,Closed,2019-01-30,2019-01-30
334,APAC,-2295.00,Closed,2019-01-30,2019-01-30
349,APAC,-2068.95,Closed,2019-06-27,2019-06-27
351,APAC,-2060.00,Closed,2019-04-02,2019-04-02
356,APAC,-2025.20,Closed,2019-06-19,2019-06-19
376,APAC,-1872.00,Closed,2019-02-28,2019-02-28
448,APAC,-1332.61,Closed,2019-06-05,2019-06-05
451,APAC,-1315.00,Closed,2019-05-23,2019-05-23
466,APAC,-1235.52,Closed,2019-02-28,2019-02-28
477,APAC,-1148.40,Closed,2019-05-21,2019-05-21
487,APAC,-1040.00,Closed,2019-04-02,2019-04-02
...,...,...,...,...,...
27656,APAC,53745.30,Closed,2019-03-29,2019-03-29
27664,APAC,54567.30,Closed,2019-05-22,2019-05-22
27666,APAC,54595.98,Closed,2019-06-28,2019-06-28
27668,APAC,9918.68,Closed,2019-01-14,2019-01-14
27677,APAC,55380.00,Closed,2019-06-25,2019-06-25
27704,APAC,58661.93,Closed,2019-06-20,2019-06-20
27731,APAC,60689.20,Closed,2019-06-25,2019-06-25
27797,APAC,71560.40,Closed,2019-03-21,2019-03-21
27815,APAC,75479.24,Closed,2019-02-04,2019-02-04
27856,APAC,88850.00,Closed,2019-06-28,2019-06-28
27859,APAC,89728.38,Closed,2019-03-29,2019-03-29
27916,APAC,108091.28,Closed,2019-02-27,2019-02-27
27917,APAC,108449.99,Closed,2019-02-19,2019-02-19
27924,APAC,110173.60,Closed,2019-06-21,2019-06-21
27930,APAC,109187.55,Closed,2019-03-15,2019-03-15
27935,APAC,118775.82,Closed,2019-04-05,2019-04-05
27939,APAC,40100.82,Closed,2019-06-24,2019-06-24
27942,APAC,0.00,Closed,2019-03-28,2019-03-28
27943,APAC,0.00,Closed,2019-03-28,2019-03-28
27944,APAC,132102.55,Closed,2019-03-28,2019-03-28
27953,APAC,140729.38,Closed,2019-06-20,2019-06-20
27969,APAC,158206.24,Closed,2019-03-18,2019-03-18
27980,APAC,188000.00,Closed,2019-06-28,2019-06-28
27981,APAC,188583.12,Closed,2019-06-13,2019-06-13
28002,APAC,0.00,Closed,2019-06-13,2019-06-13
28003,APAC,0.00,Closed,2019-06-13,2019-06-13
28017,APAC,275863.42,Closed,2019-06-25,2019-06-25
28018,APAC,275025.23,Closed,2019-06-25,2019-06-25
28019,APAC,0.00,Closed,2019-06-25,2019-06-25
28020,APAC,0.00,Closed,2019-06-25,2019-06-25

Opportunity Geography            0
First Year Bookings AMT (USD)    0
Forecast Category                0
Closed Won Date                  0
Close Date                       0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1210 entries, 8 to 28020
Data columns (total 5 columns):
Opportunity Geography            1210 non-null object
First Year Bookings AMT (USD)    1210 non-null float64
Forecast Category                1210 non-null object
Closed Won Date                  1210 non-null datetime64[ns]
Close Date                       1210 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 56.7+ KB
(1210, 5)

In [90]:
apac_q12_19.isnull().sum()

Opportunity Geography            0
First Year Bookings AMT (USD)    0
Forecast Category                0
Closed Won Date                  0
Close Date                       0
dtype: int64

In [91]:
apac_q12_19=apac_q12_19[['First Year Bookings AMT (USD)','Closed Won Date']]

In [92]:
print(apac_q12_19['Closed Won Date'].dt.year.unique())
print(apac_q12_19['Closed Won Date'].dt.month.unique())

[2019]
[2 6 4 3 5 1]

In [93]:
apac_q3_19=feature_engineering(df_2019_q3,['APAC', 'SA-APAC'] )
display(apac_q3_19)
display(apac_q3_19.isnull().sum())
apac_q3_19.info()
print(apac_q3_19.shape)

,Opportunity Geography,New-Volume First Year Bookings AMT (USD),Forecast Category,Closed Won Date,Close Date
29,APAC,-31832.64,Closed,2019-09-30,2019-09-30
44,APAC,-20028.39,Closed,2019-07-01,2019-07-01
45,APAC,-20028.39,Closed,2019-07-01,2019-07-01
62,APAC,0.00,Closed,2019-07-29,2019-07-29
69,APAC,0.00,Closed,2019-07-03,2019-07-03
80,APAC,-11833.43,Closed,2019-07-10,2019-07-10
81,APAC,-260.08,Closed,2019-07-10,2019-07-10
82,APAC,-11394.17,Closed,2019-09-05,2019-09-05
83,APAC,-1095.60,Closed,2019-09-05,2019-09-05
105,APAC,0.00,Closed,2019-09-23,2019-09-23
107,APAC,0.00,Closed,2019-07-29,2019-07-29
109,APAC,0.00,Closed,2019-08-21,2019-08-21
113,APAC,-7302.02,Closed,2019-07-01,2019-07-01
114,APAC,-7302.02,Closed,2019-07-01,2019-07-01
124,APAC,-6676.13,Closed,2019-07-01,2019-07-01
125,APAC,-6676.13,Closed,2019-07-01,2019-07-01
127,APAC,0.00,Closed,2019-07-29,2019-07-29
131,APAC,-6258.87,Closed,2019-07-01,2019-07-01
132,APAC,-6258.87,Closed,2019-07-01,2019-07-01
152,APAC,0.00,Closed,2019-07-10,2019-07-10
166,APAC,-4172.58,Closed,2019-07-01,2019-07-01
167,APAC,-4172.58,Closed,2019-07-01,2019-07-01
173,APAC,0.00,Closed,2019-09-05,2019-09-05
179,APAC,0.00,Closed,2019-07-03,2019-07-03
184,APAC,0.00,Closed,2019-07-29,2019-07-29
222,APAC,0.00,Closed,2019-07-29,2019-07-29
247,APAC,-1856.00,Closed,2019-07-09,2019-07-09
254,APAC,-1669.03,Closed,2019-07-01,2019-07-01
255,APAC,-1669.03,Closed,2019-07-01,2019-07-01
286,APAC,0.00,Closed,2019-07-29,2019-07-29
...,...,...,...,...,...
22738,APAC,12853.15,Closed,2019-07-11,2019-07-11
22775,APAC,40400.00,Closed,2019-08-19,2019-08-19
22782,APAC,40804.51,Closed,2019-09-19,2019-09-19
22799,APAC,42369.00,Closed,2019-09-24,2019-09-24
22825,APAC,44367.62,Closed,2019-09-29,2019-09-29
22867,APAC,9454.83,Closed,2019-09-30,2019-09-30
22871,APAC,0.00,Closed,2019-09-23,2019-09-23
22874,APAC,9451.51,Closed,2019-09-24,2019-09-24
22875,APAC,48115.97,Closed,2019-09-27,2019-09-27
22883,APAC,0.00,Closed,2019-07-08,2019-07-08
22888,APAC,49364.58,Closed,2019-09-30,2019-09-30
22899,APAC,50419.11,Closed,2019-09-27,2019-09-27
22924,APAC,0.00,Closed,2019-09-26,2019-09-26
22930,APAC,53280.00,Closed,2019-09-24,2019-09-24
22932,APAC,53294.10,Closed,2019-09-25,2019-09-25
22937,APAC,53514.97,Closed,2019-07-31,2019-07-31
22939,APAC,53600.00,Closed,2019-09-20,2019-09-20
22951,APAC,0.00,Closed,2019-08-20,2019-08-20
22952,APAC,0.00,Closed,2019-08-20,2019-08-20
22968,APAC,11123.33,Closed,2019-09-30,2019-09-30
22969,APAC,56000.00,Closed,2019-08-19,2019-08-19
23015,APAC,55719.36,Closed,2019-09-30,2019-09-30
23021,APAC,61938.00,Closed,2019-09-30,2019-09-30
23090,APAC,71970.80,Closed,2019-09-27,2019-09-27
23121,APAC,79941.15,Closed,2019-09-25,2019-09-25
23132,APAC,0.00,Closed,2019-07-05,2019-07-05
23142,APAC,0.00,Closed,2019-07-05,2019-07-05
23155,APAC,0.00,Closed,2019-08-12,2019-08-12
23252,APAC,168000.00,Closed,2019-08-19,2019-08-19
23273,APAC,253600.00,Closed,2019-08-19,2019-08-19

Opportunity Geography                       0
New-Volume First Year Bookings AMT (USD)    0
Forecast Category                           0
Closed Won Date                             0
Close Date                                  0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1323 entries, 29 to 23273
Data columns (total 5 columns):
Opportunity Geography                       1323 non-null object
New-Volume First Year Bookings AMT (USD)    1323 non-null float64
Forecast Category                           1323 non-null object
Closed Won Date                             1323 non-null datetime64[ns]
Close Date                                  1323 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 62.0+ KB
(1323, 5)

In [94]:
apac_q3_19.rename(columns={'New-Volume First Year Bookings AMT (USD)':'First Year Bookings AMT (USD)'} ,inplace=True)

apac_q3_19=apac_q3_19[['First Year Bookings AMT (USD)','Closed Won Date']]
print(apac_q12_19['Closed Won Date'].dt.year.unique())
print(apac_q12_19['Closed Won Date'].dt.month.unique())
apac_q3_19

[2019]
[2 6 4 3 5 1]

       First Year Bookings AMT (USD) Closed Won Date
29                         -31832.64      2019-09-30
44                         -20028.39      2019-07-01
45                         -20028.39      2019-07-01
62                              0.00      2019-07-29
69                              0.00      2019-07-03
80                         -11833.43      2019-07-10
81                           -260.08      2019-07-10
82                         -11394.17      2019-09-05
83                          -1095.60      2019-09-05
105                             0.00      2019-09-23
107                             0.00      2019-07-29
109                             0.00      2019-08-21
113                         -7302.02      2019-07-01
114                         -7302.02      2019-07-01
124                         -6676.13      2019-07-01
125                         -6676.13      2019-07-01
127                             0.00      2019-07-29
131                         -6258.87      2019-07-01
132                         -6258.87      2019-07-01
152                             0.00      2019-07-10
166                         -4172.58      2019-07-01
167                         -4172.58      2019-07-01
173                             0.00      2019-09-05
179                             0.00      2019-07-03
184                             0.00      2019-07-29
222                             0.00      2019-07-29
247                         -1856.00      2019-07-09
254                         -1669.03      2019-07-01
255                         -1669.03      2019-07-01
286                             0.00      2019-07-29
...                              ...             ...
22738                       12853.15      2019-07-11
22775                       40400.00      2019-08-19
22782                       40804.51      2019-09-19
22799                       42369.00      2019-09-24
22825                       44367.62      2019-09-29
22867                        9454.83      2019-09-30
22871                           0.00      2019-09-23
22874                        9451.51      2019-09-24
22875                       48115.97      2019-09-27
22883                           0.00      2019-07-08
22888                       49364.58      2019-09-30
22899                       50419.11      2019-09-27
22924                           0.00      2019-09-26
22930                       53280.00      2019-09-24
22932                       53294.10      2019-09-25
22937                       53514.97      2019-07-31
22939                       53600.00      2019-09-20
22951                           0.00      2019-08-20
22952                           0.00      2019-08-20
22968                       11123.33      2019-09-30
22969                       56000.00      2019-08-19
23015                       55719.36      2019-09-30
23021                       61938.00      2019-09-30
23090                       71970.80      2019-09-27
23121                       79941.15      2019-09-25
23132                           0.00      2019-07-05
23142                           0.00      2019-07-05
23155                           0.00      2019-08-12
23252                      168000.00      2019-08-19
23273                      253600.00      2019-08-19

[1323 rows x 2 columns]

In [95]:
display(apac_2017to18.shape)
display(apac_q12_19.shape)
display(apac_q3_19.shape)

# 5505+1210+1323

(5241, 2)

(1210, 2)

(1323, 2)

In [96]:
apac_df=pd.concat([apac_2017to18,apac_q12_19,apac_q3_19], axis=0)
print(apac_df.shape)
apac_df.head()

(7774, 2)

     First Year Bookings AMT (USD)      Closed Won Date
75                          410.54  2017-06-29 00:00:00
92                         2114.39  2017-06-29 00:00:00
109                        3037.58  2017-06-29 00:00:00
134                           0.00  2018-06-15 00:00:00
151                           0.00  2018-06-15 00:00:00

In [97]:
apac_df1=apac_df.copy()
apac_df1['date_month']=''
apac_df1['date_month']=pd.PeriodIndex(apac_df1['Closed Won Date'],freq='M')
apac_df1
apac_df1=pd.DataFrame(apac_df1.groupby('date_month')['First Year Bookings AMT (USD)'].sum())

apac_df1.reset_index(inplace=True)
apac_df1

   date_month  First Year Bookings AMT (USD)
0     2017-01                       82187.39
1     2017-02                      435257.15
2     2017-03                     1383596.70
3     2017-04                      280293.05
4     2017-05                      269298.39
5     2017-06                     2073455.04
6     2017-07                     1585600.57
7     2017-08                      279192.22
8     2017-09                     4080193.69
9     2017-10                      246889.26
10    2017-11                      476399.93
11    2017-12                     2648695.52
12    2018-01                      761372.60
13    2018-02                      377024.46
14    2018-03                     2345785.80
15    2018-04                      212805.42
16    2018-05                     1634752.42
17    2018-06                     2574146.87
18    2018-07                      583508.80
19    2018-08                      205076.83
20    2018-09                     2295573.31
21    2018-10                      441718.28
22    2018-11                      684668.88
23    2018-12                     1982749.77
24    2019-01                      140951.49
25    2019-02                      491995.00
26    2019-03                     2224565.10
27    2019-04                      348573.44
28    2019-05                      717293.99
29    2019-06                     3411478.75
30    2019-07                      251126.74
31    2019-08                      876404.54
32    2019-09                     1605377.21

In [99]:
apac_df.to_excel('../data/Apac 2017 to q3 2019.xlsx', index=None)

##### Emea complete dataframe

In [100]:
emea_2017to18=feature_engineering(df_2011to18_1, ['EMEA', 'SA-EMEA'])
display(emea_2017to18.head())

# display(df_2019_q3.isnull().sum())
display(emea_2017to18.isnull().sum())
emea_2017to18.info()
print(emea_2017to18.shape)

emea_2017to18=emea_2017to18[(emea_2017to18['Closed Won Date'].dt.year>2016)&\
                            (emea_2017to18['Closed Won Date'].dt.year<2019)]
emea_2017to18=emea_2017to18[['First Year Bookings AMT (USD)','Closed Won Date']]
print(emea_2017to18.shape)

emea_2017to18.head()

,Opportunity Geography,First Year Bookings AMT (USD),Forecast Category,Closed Won Date,Close Date
10,EMEA,29.80,Closed,2018-12-28 00:00:00,2018-12-28 00:00:00
11,EMEA,2158.10,Closed,2018-11-21 00:00:00,2018-11-21 00:00:00
17,EMEA,1793.14,Closed,2017-03-22 00:00:00,2017-03-22 00:00:00
18,EMEA,1246.89,Closed,2018-12-18 00:00:00,2018-12-18 00:00:00
27,EMEA,3541.86,Closed,2018-12-28 00:00:00,2018-12-28 00:00:00

Opportunity Geography            0
First Year Bookings AMT (USD)    0
Forecast Category                0
Closed Won Date                  0
Close Date                       0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50835 entries, 10 to 615907
Data columns (total 5 columns):
Opportunity Geography            50835 non-null object
First Year Bookings AMT (USD)    50835 non-null float64
Forecast Category                50835 non-null object
Closed Won Date                  50835 non-null object
Close Date                       50835 non-null object
dtypes: float64(1), object(4)
memory usage: 2.3+ MB
(50835, 5)
(25986, 2)

    First Year Bookings AMT (USD)      Closed Won Date
10                          29.80  2018-12-28 00:00:00
11                        2158.10  2018-11-21 00:00:00
17                        1793.14  2017-03-22 00:00:00
18                        1246.89  2018-12-18 00:00:00
27                        3541.86  2018-12-28 00:00:00

In [101]:
emea_q12_19=feature_engineering(df_2019_q12,['EMEA', 'SA-EMEA'])
display(emea_q12_19)
display(emea_q12_19.isnull().sum())
emea_q12_19.info()
print(emea_q12_19.shape)
emea_q12_19.isnull().sum()

,Opportunity Geography,First Year Bookings AMT (USD),Forecast Category,Closed Won Date,Close Date
2,EMEA,-272184.55,Closed,2019-01-11,2019-01-11
3,EMEA,-216787.58,Closed,2019-03-13,2019-03-13
5,SA-EMEA,-153973.80,Closed,2019-05-23,2019-05-23
6,EMEA,-114480.68,Closed,2019-05-20,2019-05-20
9,EMEA,-55509.59,Closed,2019-01-11,2019-01-11
11,EMEA,-48600.67,Closed,2019-01-11,2019-01-11
12,EMEA,-48961.59,Closed,2019-04-18,2019-04-18
13,EMEA,0.00,Closed,2019-04-18,2019-04-18
14,EMEA,0.00,Closed,2019-04-18,2019-04-18
15,SA-EMEA,-85197.83,Closed,2019-06-18,2019-06-18
16,EMEA,-72635.86,Closed,2019-03-28,2019-03-28
17,EMEA,-62040.24,Closed,2019-06-26,2019-06-26
20,EMEA,-58895.22,Closed,2019-01-09,2019-01-09
21,EMEA,-57267.92,Closed,2019-06-26,2019-06-26
23,EMEA,0.00,Closed,2019-01-11,2019-01-11
24,EMEA,-47595.47,Closed,2019-04-24,2019-04-24
29,EMEA,0.00,Closed,2019-01-11,2019-01-11
30,EMEA,-44901.96,Closed,2019-04-18,2019-04-18
32,EMEA,-41614.69,Closed,2019-06-26,2019-06-26
35,EMEA,-40066.40,Closed,2019-06-28,2019-06-28
36,EMEA,-330.22,Closed,2019-06-28,2019-06-28
37,EMEA,0.00,Closed,2019-06-28,2019-06-28
41,EMEA,-34463.41,Closed,2019-01-09,2019-01-09
42,EMEA,-34111.26,Closed,2019-01-09,2019-01-09
43,EMEA,-1775.65,Closed,2019-01-09,2019-01-09
44,EMEA,0.00,Closed,2019-01-09,2019-01-09
45,EMEA,0.00,Closed,2019-01-09,2019-01-09
46,EMEA,0.00,Closed,2019-01-09,2019-01-09
47,EMEA,-33859.37,Closed,2019-03-28,2019-03-28
55,EMEA,-27696.58,Closed,2019-01-21,2019-01-21
...,...,...,...,...,...
27963,SA-EMEA,153973.80,Closed,2019-05-22,2019-05-22
27964,SA-EMEA,153973.80,Closed,2019-05-23,2019-05-23
27971,EMEA,164909.14,Closed,2019-06-26,2019-06-26
27972,EMEA,45567.27,Closed,2019-03-29,2019-03-29
27975,EMEA,173843.18,Closed,2019-03-22,2019-03-22
27976,EMEA,173880.00,Closed,2019-03-22,2019-03-22
27979,EMEA,183037.69,Closed,2019-05-29,2019-05-29
27985,EMEA,193725.62,Closed,2019-03-27,2019-03-27
27989,EMEA,199705.43,Closed,2019-03-28,2019-03-28
27991,EMEA,200257.35,Closed,2019-03-29,2019-03-29
27995,EMEA,216787.58,Closed,2019-03-13,2019-03-13
27996,EMEA,222399.23,Closed,2019-03-28,2019-03-28
28001,EMEA,226991.73,Closed,2019-04-23,2019-04-23
28007,EMEA,45612.48,Closed,2019-02-25,2019-02-25
28008,SA-EMEA,250597.47,Closed,2019-06-18,2019-06-18
28009,EMEA,253402.29,Closed,2019-02-28,2019-02-28
28010,EMEA,255305.24,Closed,2019-03-28,2019-03-28
28011,EMEA,256374.83,Closed,2019-06-26,2019-06-26
28013,EMEA,257700.00,Closed,2019-03-06,2019-03-06
28015,EMEA,81309.93,Closed,2019-04-23,2019-04-23
28016,EMEA,272184.55,Closed,2019-01-11,2019-01-11
28025,SA-EMEA,311046.89,Closed,2019-03-28,2019-03-28
28027,EMEA,315137.43,Closed,2019-06-26,2019-06-26
28028,EMEA,342676.37,Closed,2019-03-28,2019-03-28
28031,EMEA,427778.12,Closed,2019-03-28,2019-03-28
28032,EMEA,469601.51,Closed,2019-06-19,2019-06-19
28033,EMEA,487970.18,Closed,2019-04-23,2019-04-23
28039,EMEA,0.00,Closed,2019-06-27,2019-06-27
28040,SA-EMEA,488607.47,Closed,2019-06-28,2019-06-28
28048,SA-EMEA,1562268.56,Closed,2019-06-11,2019-06-11

Opportunity Geography            0
First Year Bookings AMT (USD)    0
Forecast Category                0
Closed Won Date                  0
Close Date                       0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6547 entries, 2 to 28048
Data columns (total 5 columns):
Opportunity Geography            6547 non-null object
First Year Bookings AMT (USD)    6547 non-null float64
Forecast Category                6547 non-null object
Closed Won Date                  6547 non-null datetime64[ns]
Close Date                       6547 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 306.9+ KB
(6547, 5)

Opportunity Geography            0
First Year Bookings AMT (USD)    0
Forecast Category                0
Closed Won Date                  0
Close Date                       0
dtype: int64

In [102]:
emea_q12_19=emea_q12_19[['First Year Bookings AMT (USD)','Closed Won Date']]

In [103]:
emea_q3_19=feature_engineering(df_2019_q3,['EMEA', 'SA-EMEA'] )
display(emea_q3_19)
display(emea_q3_19.isnull().sum())
emea_q3_19.info()
print(emea_q3_19.shape)

,Opportunity Geography,New-Volume First Year Bookings AMT (USD),Forecast Category,Closed Won Date,Close Date
0,EMEA,-309528.73,Closed,2019-09-30,2019-09-30
6,EMEA,-85136.90,Closed,2019-09-30,2019-09-30
7,EMEA,-79197.12,Closed,2019-09-30,2019-09-30
12,SA-EMEA,-63000.00,Closed,2019-07-12,2019-07-12
13,EMEA,-53970.30,Closed,2019-07-22,2019-07-22
14,EMEA,-52838.80,Closed,2019-09-05,2019-09-05
21,EMEA,-40698.52,Closed,2019-09-30,2019-09-30
22,EMEA,-36650.67,Closed,2019-09-30,2019-09-30
34,EMEA,-26946.83,Closed,2019-09-10,2019-09-10
35,EMEA,-518.20,Closed,2019-09-10,2019-09-10
36,EMEA,0.00,Closed,2019-09-10,2019-09-10
38,EMEA,-25669.46,Closed,2019-09-24,2019-09-24
39,EMEA,0.00,Closed,2019-09-26,2019-09-26
40,EMEA,0.00,Closed,2019-09-26,2019-09-26
46,EMEA,-19526.27,Closed,2019-08-19,2019-08-19
47,EMEA,0.00,Closed,2019-09-26,2019-09-26
48,EMEA,0.00,Closed,2019-09-26,2019-09-26
51,EMEA,-17902.76,Closed,2019-07-19,2019-07-19
52,EMEA,0.00,Closed,2019-07-15,2019-07-15
55,EMEA,-17206.86,Closed,2019-09-02,2019-09-02
64,EMEA,-14848.25,Closed,2019-09-12,2019-09-12
65,EMEA,-14454.34,Closed,2019-09-26,2019-09-26
68,EMEA,-14255.68,Closed,2019-08-14,2019-08-14
76,EMEA,-12202.90,Closed,2019-08-20,2019-08-20
77,EMEA,-1642.70,Closed,2019-08-20,2019-08-20
78,EMEA,0.00,Closed,2019-08-20,2019-08-20
79,EMEA,-12173.87,Closed,2019-07-19,2019-07-19
85,EMEA,-11078.24,Closed,2019-07-31,2019-07-31
86,EMEA,-10244.12,Closed,2019-09-24,2019-09-24
89,EMEA,-9898.83,Closed,2019-09-12,2019-09-12
...,...,...,...,...,...
23186,EMEA,0.00,Closed,2019-09-27,2019-09-27
23187,EMEA,0.00,Closed,2019-09-30,2019-09-30
23188,EMEA,0.00,Closed,2019-07-24,2019-07-24
23190,EMEA,31694.44,Closed,2019-09-19,2019-09-19
23199,EMEA,0.00,Closed,2019-09-30,2019-09-30
23202,SA-EMEA,104965.58,Closed,2019-09-10,2019-08-30
23210,EMEA,109842.05,Closed,2019-09-30,2019-09-30
23224,EMEA,120687.61,Closed,2019-09-30,2019-09-30
23233,EMEA,43594.86,Closed,2019-09-03,2019-09-03
23234,EMEA,132171.19,Closed,2019-09-30,2019-09-30
23236,EMEA,137589.75,Closed,2019-09-30,2019-09-30
23237,EMEA,0.00,Closed,2019-08-30,2019-08-30
23238,EMEA,46159.50,Closed,2019-09-30,2019-09-30
23247,EMEA,0.00,Closed,2019-08-30,2019-08-30
23251,EMEA,164255.25,Closed,2019-07-31,2019-07-31
23253,SA-EMEA,169703.02,Closed,2019-08-29,2019-08-29
23255,EMEA,68933.30,Closed,2019-09-30,2019-09-30
23261,EMEA,0.00,Closed,2019-09-27,2019-09-27
23262,EMEA,0.00,Closed,2019-09-27,2019-09-27
23263,EMEA,0.00,Closed,2019-07-25,2019-07-25
23264,EMEA,0.00,Closed,2019-08-30,2019-08-30
23265,EMEA,0.00,Closed,2019-09-04,2019-09-04
23266,EMEA,0.00,Closed,2019-09-27,2019-09-27
23267,EMEA,239400.00,Closed,2019-07-17,2019-07-17
23269,EMEA,240016.64,Closed,2019-08-30,2019-08-30
23279,EMEA,309528.73,Closed,2019-09-30,2019-09-30
23281,EMEA,311838.65,Closed,2019-09-30,2019-09-30
23282,EMEA,312629.85,Closed,2019-09-06,2019-09-06
23285,EMEA,69273.93,Closed,2019-09-30,2019-09-27
23293,EMEA,0.00,Closed,2019-09-23,2019-09-23

Opportunity Geography                       0
New-Volume First Year Bookings AMT (USD)    0
Forecast Category                           0
Closed Won Date                             0
Close Date                                  0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6751 entries, 0 to 23293
Data columns (total 5 columns):
Opportunity Geography                       6751 non-null object
New-Volume First Year Bookings AMT (USD)    6751 non-null float64
Forecast Category                           6751 non-null object
Closed Won Date                             6751 non-null datetime64[ns]
Close Date                                  6751 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 316.5+ KB
(6751, 5)

In [104]:
display(emea_2017to18.shape)
display(emea_q12_19.shape)
display(emea_q3_19.shape)

(25986, 2)

(6547, 2)

(6751, 5)

In [105]:
emea_q3_19.rename(columns={'New-Volume First Year Bookings AMT (USD)':'First Year Bookings AMT (USD)'} ,inplace=True)

emea_q3_19=emea_q3_19[['First Year Bookings AMT (USD)','Closed Won Date']]
print(emea_q12_19['Closed Won Date'].dt.year.unique())
print(emea_q12_19['Closed Won Date'].dt.month.unique())
print(emea_q3_19['Closed Won Date'].dt.year.unique())
print(emea_q3_19['Closed Won Date'].dt.month.unique())
emea_q3_19.tail()

[2019]
[1 3 5 4 6 2]
[2019]
[9 7 8]

       First Year Bookings AMT (USD) Closed Won Date
23279                      309528.73      2019-09-30
23281                      311838.65      2019-09-30
23282                      312629.85      2019-09-06
23285                       69273.93      2019-09-30
23293                           0.00      2019-09-23

In [106]:
display(emea_2017to18.head())
display(emea_q12_19.head())
display(emea_q3_19.head())

    First Year Bookings AMT (USD)      Closed Won Date
10                          29.80  2018-12-28 00:00:00
11                        2158.10  2018-11-21 00:00:00
17                        1793.14  2017-03-22 00:00:00
18                        1246.89  2018-12-18 00:00:00
27                        3541.86  2018-12-28 00:00:00

   First Year Bookings AMT (USD) Closed Won Date
2                     -272184.55      2019-01-11
3                     -216787.58      2019-03-13
5                     -153973.80      2019-05-23
6                     -114480.68      2019-05-20
9                      -55509.59      2019-01-11

    First Year Bookings AMT (USD) Closed Won Date
0                      -309528.73      2019-09-30
6                       -85136.90      2019-09-30
7                       -79197.12      2019-09-30
12                      -63000.00      2019-07-12
13                      -53970.30      2019-07-22

In [107]:
(27052+6547+6751)

40350

In [108]:
emea_df=pd.concat([emea_2017to18, emea_q12_19, emea_q3_19], axis=0)
print(emea_df.shape)
emea_df.head()

(39284, 2)

    First Year Bookings AMT (USD)      Closed Won Date
10                          29.80  2018-12-28 00:00:00
11                        2158.10  2018-11-21 00:00:00
17                        1793.14  2017-03-22 00:00:00
18                        1246.89  2018-12-18 00:00:00
27                        3541.86  2018-12-28 00:00:00

In [109]:
emea_df1=emea_df.copy()
emea_df1['date_month']=''
emea_df1['date_month']=pd.PeriodIndex(emea_df1['Closed Won Date'],freq='M')
emea_df1
emea_df1=pd.DataFrame(emea_df1.groupby('date_month')['First Year Bookings AMT (USD)'].sum())

emea_df1.reset_index(inplace=True)
emea_df1

   date_month  First Year Bookings AMT (USD)
0     2017-01                      811194.33
1     2017-02                     3011315.09
2     2017-03                     6208713.75
3     2017-04                     1222229.85
4     2017-05                     2337999.01
5     2017-06                     4879902.05
6     2017-07                     4319838.78
7     2017-08                    38070784.27
8     2017-09                     8448405.64
9     2017-10                     3033007.69
10    2017-11                     5933518.31
11    2017-12                    21628421.25
12    2018-01                     2700493.60
13    2018-02                     4123632.91
14    2018-03                    11598417.75
15    2018-04                     3389320.85
16    2018-05                     5282069.81
17    2018-06                    11327248.38
18    2018-07                     3241032.37
19    2018-08                     3771573.88
20    2018-09                     9352110.00
21    2018-10                     3622363.73
22    2018-11                     4019064.81
23    2018-12                    19121701.59
24    2019-01                     2216082.96
25    2019-02                     3588696.13
26    2019-03                     9845081.19
27    2019-04                     3380954.50
28    2019-05                     3573839.05
29    2019-06                    10501204.84
30    2019-07                     2907430.62
31    2019-08                     3221896.46
32    2019-09                     7648085.44

In [110]:
emea_df.to_excel('Emea 2017 to q3 2019.xlsx', index=None)